<html>
    <head>
        <script src="https://kit.fontawesome.com/44ebb0f0f4.js" crossorigin="anonymous"></script>
        <style>
            body {
                background-color: black;
                padding: 0;
                margin: 0;
            }

            #header {
                background-color: rgb(98, 171, 235);
                width: 100%;
                height: 6%;
            }

            #family-title {
                color: white;
                font-family: 'Roboto', sans-serif;
                font-size: 70px;
                margin-top: 0;
                margin-bottom: 0;
            }

            #families {
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
                margin-top: 4%;
                height: 90%;
            }

            #family-list {
                background-color: hsl(0, 0%, 10%);
                /* width: 100%; */
                /* margin-top: 12%; */
                /* height: 100%; */
                display: flex;
                flex-direction: row;
                padding-top: 5%;
                padding-bottom: 5%;
                flex-wrap: wrap;
                gap: 10px;
                justify-content: center;
            }

            .family {
                /* display: inline-block; */
                width: 400px;
                height: 300px;
                background-color: rgb(240,254,196);
                display: flex;
                justify-content: center;
                text-align: center;
                flex-direction: column;
            }
            .family:hover {
                cursor: pointer;
            }
            .fa-crown {
                font-size: 50px;
            }
            /* .family-name {

            } */
        </style>
        <script>
            function familyRedirect(element) {
                let date = new Date();
                window.location.href = "/family/" + element.getAttribute("family-id")+"/"+date.getMonth()+"/"+date.getFullYear();
            }
        </script>
    </head>
    <body>
        <div id="header"></div>
        <div id="families">
            <h1 id="family-title">My Families</h1>
            <div id="family-list-container">
                <div id="family-list">
                    <% families.forEach(function(family){ %>
                        <div family-id="<%= family.id %>" class="family" onclick="familyRedirect(this)">

                            <% if (family.admin) { %>
                                <i class="fa-solid fa-crown"></i>
                                <% } %>
                            <h1 class="family-name">
                                <%= family.name %>
                            </h1>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </body>
</html>